.nav{
  font-family: "Alice, serif";
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-size:1rem;
  

}
.nav a{
  text-decoration: none;
  color: #000;
}
.nav a:hover{
  text-decoration: none;
  color: #a49a88;
}